html,body{
	height: 100%;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after{
 clear: both;
 content: "";
 display: table;
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
ul li:last-child{
	margin-bottom: 0;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
input,
button,
textarea{
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input::placeholder {
	color: inherit;
}
button{
	cursor: pointer;
}
input, 
textarea{
	display: block;
	resize: none;
}
body{
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}
.container{
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.dn{
	display: none;
}
section{
	padding: 30px 0;
}
.sec_tit{
	font-weight: 800;
	font-size: 48px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}
.sec_txt{
	font-size: 21px;
	margin-bottom: 2%;
}
.link{
	transition: 0.3s;
}
.link:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.btn {
	display: inline-block;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	background: rgb(113, 113, 113);
	text-transform: uppercase;
	text-align: center;
	line-height: 37px;
	font-weight: 700;
	font-size: 12px;
	transition: 0.3s;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	width: 10%;
  }
  .btn::before{
	content: '';
	position: absolute;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
	width: 36px;
	height: 115%;
	top: -10%;
	left: -100%;
	transform: rotate(10deg);
	animation: btn 10s linear infinite;
  }
  @keyframes btn{
	0%{
	}
	90%{
	  left: -100%;
	}
	100%{
	  left: 100%;
	}
  }
  .btn:hover {
	background:rgb(177, 175, 175);
  }

  /* header */
  .header_link{
	margin-right: 4%;
	font-size: 24px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
  }
  header{
	margin-top: 50px;
  }
  nav{
	margin-top: 6px;
  }
  .header_right{
	gap: 110px;
  }
  .head_btn{
	font-size: 25px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
  }
  .logo_txt{
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-size: 32px;
	font-style: italic;
  }

  /* main */
  .main_tit{
	font-family: Roboto;
	font-size: 72px;
	font-weight: 700;
	line-height: 82.5px;
	letter-spacing: 2px;
	text-align: left;
	width: 600px;

  }
  .main_tit span{
	color: #FF8A56;
}
.main_txt{
	font-family: Roboto;
font-size: 22px;
font-weight: 400;
line-height: 33px;
text-align: left;
color: #666666;
margin: 3% 0;
width: 555px;
}
.main_btn{
	background: black;
	width: 20%;
	padding: 2%;
}
.main_btn2{
	width: 86%;
	background: white;
	color: black;
	font-weight: 600;
}
.vectors_btn{
	gap: 10px;
	transition: 0.3s;
	padding: 5px;
}
.vectors_btn::after{
	content: "";
	background: url(../img/vector.png)no-repeat;
	width: 30px;
	height: 20px;
	margin-top: 12%;
}
.vector{
	width: 30px;
	height: 20px;
	margin-top: 11%;
}
.main_btns{
	justify-content: normal;
	gap: 30px;
}

/* trusted */
.trusted_tit{
	margin-bottom: 6%;
}
.trusted_cards{
	justify-content: space-around;
}

/* service */
.services_min_tit{
	font-family: Roboto;
	font-size: 22px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 4px;
	text-align: center;
	color: #FF5E69;	
}
.services_tit{
	font-family: Roboto;
	font-size: 54px;
	font-weight: 700;
	line-height: 59.4px;
	letter-spacing: 1px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 8%;
	width: 768px;
}
.service_card_tit{
	font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 26.4px;
text-align: left;

}
.service_card_txt{
	font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: left;
color: #666666;
width: 252px;
margin: 6% 0;
}
.ic3,
.ic2,
.ic{
	background: url(../img/service1.png)no-repeat;
    width: 70px;
	height: 70px;
	margin-bottom: 6%;
}
.ic2{
	background: url(../img/service2.png)no-repeat;
}
.ic3{
	background: url(../img/service3.png)no-repeat;
}
.service_li{
	list-style-type: square;
	font-family: Roboto;
	font-size: 19px;
	font-weight: 700;
	line-height: 28px;
	text-align: left;
	margin-bottom: 2%;
}
.service_cards{
	justify-content: space-evenly;	
	gap: 8%;
}